.QXTP-MainContainer a,
.QXTP-MainContainer a:visited,
.QXTP-MainContainer a:focus {
    border: 0;
    border-bottom: none;
    border-width: 0;
    text-decoration: none !important;
}

/* Contenedor */
.QXTP-MainContainer {
    font-size: 1rem;
    margin: 1em auto;
    padding: 0;
    width: 100%;
    max-width: 750px;
    position: relative;
}

.QXTP-MainContainer * {
    box-sizing: border-box;
}

.QXTP-MainContainer p {
    margin: 0 !important;
    padding: 0 !important;
}

/* Instrucciones */
.QXTP-instructions {
    margin: 0.3em auto;
    width: 100%;
    overflow: auto;
}

/* Minimizado */
.QXTP-GameMinimize {
    margin: 1em auto;
    width: 100%;
}

.QXTP-LinkMaximize {
    align-items: center;
    display: flex;
    justify-content: center;
}

.QXTP-IconMinimize {
    height: 2em;
    margin-right: 0.5em;
    width: 2em;
}

/* Juego */
.QXTP-GameContainer {
    margin: 0 auto;
    max-width: 750px;
    padding: 1em 0.3em 0 0.3em;
    position: relative;
    width: 100%;
}

/* barra de puntuaciones */
.QXTP-GameScoreBoard {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3em;
    width: 100%;
}

.QXTP-GameScoreBoard p {
    font-size: 1.4em !important;
    margin-right: 0.3em !important;
    text-align: center;
    vertical-align: middle;
}

.QXTP-GameScores {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.QXTP-GameScores>p:last-child {
    text-align: left;
}

.QXTP-LifesGame {
    align-items: center;
    display: flex;
    justify-content: center;
}

.QXTP-NumberLifesGame {
    display: none;
}

.QXTP-TimeNumber {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.QXTP-PTime {
    margin-left: 0.3em;
    min-width: 3.5em;
    text-align: center;
    width: auto;
}

/* Pista */
.QXTP-ShowClue {
    margin: 0.3em auto;
    min-height: 0.4em;
    padding: 0;
    width: 100%;
}

.QXTP-PShowClue {
    color: #5877c6;
    text-align: center;
    width: 100%;
}

/* Multimedia */
.QXTP-Multimedia {
    background-color: transparent;
    border-radius: 0.6em;
    margin: 0.3em auto;
    max-width: 1024px;
    overflow: hidden;
    position: relative;
    width: 65%;
}

.QXTP-Multimedia:before {
    content: '';
    display: block;
    padding-top: 56%;
}

.QXTP-Protector,
.QXTP-NoImage,
.QXTP-Video,
.QXTP-Cover {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.QXTP-Images,
.QXTP-EText {
    border: 0;
    border-radius: 0.6em;
    height: 100%;
    left: 0;
    position: absolute;
    text-decoration: none !important;
    top: 0;
    width: 100%;
}

.QXTP-Video {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.QXTP-EText {
    border: none;
    border-radius: 0.6em;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    text-decoration: none !important;
    overflow-y: auto;
    padding-right: 0.7em;
    z-index: 25;
}

.QXTP-Protector {
    background-color: white;
    opacity: 0.00001;
    z-index: 10;
}

.QXTP-Cursor {
    width: 2em;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 3;
    display: none;
}

.QXTP-LinkAudio {
    bottom: 3px;
    display: none;
    position: absolute;
    right: 3px;
    width: 2em;
    z-index: 15;
}

/* Game Over */
.QXTP-GameOver {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.QXTP-DataImage {
    height: 100%;
    padding: 0;
    position: relative;
    width: 50%;
}

.QXTP-DataScore {
    padding: 0;
    width: 50%;
}

.QXTP-DataScore p {
    margin: 0.7em;
}

.QXTP-HistGGame,
.QXTP-LostGGame {
    bottom: 0;
    display: none;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}


/* Barra de navegación */

.QXTP-NumberQuestion {
    font-weight: bold;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}

/* Author */
.QXTP-AuthorLicence {
    margin: 0.3em auto 0 auto;
    min-height: 0.4em;
    width: 100%;
}

.QXTP-AuthorLicence p {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

/* Código acceso */
.QXTP-Cubierta {
    width: 100%;
    height: 95%;
    position: absolute;
    top: 1%;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    background-color: rgb(255, 255, 255, 0.1)
}

.QXTP-Cubierta .exeQuextIcons-Submit {
    background: url(exequextreply.png) no-repeat;
    background-size: 100% 100%;
    height: 1.7em;
    width: 1.7em;
}

.QXTP-CodeAccessDiv {
    padding: 1.5em 0.5em 1.5em 0.5em;
    margin: 0 auto;
    width: 95%;
    max-width: 450px;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}

.QXTP-MessageCodeAccessE {
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.QXTP-DataCodeAccessE {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0.7em auto 0 auto;
    width: 100%;
}

.QXTP-CodeAccessE {
    margin: 0 .3em;
    max-width: 350px;
    width: 60%;
    text-align: center;
}

/* Inicio juego */
.QXTP-StartGame {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    margin: 1em auto 0 auto;
    text-align: center;
    user-select: none;
    width: 100%;
}

.QXTP-StartGame a:hover {
    text-decoration: underline;
}

/* Pegunta tipo test */
.QXTP-QuestionDiv {
    display: none;
    margin: 0.3em auto;
    width: 100%;
}

.QXTP-Question {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border-radius: 0.3em;
    margin: 0 auto;
    margin-bottom: 0.4em;
    min-height: 3.2em;
    padding: 0.3em;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Respuesta  tipo test */
.QXTP-OptionsDiv {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.QXTP-MainContainer a.QXTP-Options {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #777777;
    border-radius: 0.4em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
    min-height: 3em;
    padding: 0.3em;
    user-select: none;
    width: 48%;
    text-align: center;
}

.QXTP-OptionsDiv a {
    border: 1px solid #777777;
    color: #1c1b1b;
}


.QXTP-GameContainer .exeQuextIcons-Submit {
    height: 1.7em;
    width: 1.7em;
}

/*  Video Introducción */
.QXTP-VideoIntroContainer {
    align-items: center;
    display: none;
    justify-content: flex-end;
    margin: 0.3em;
    padding: 0;
    width: 98%;
}

.QXTP-VideoIntroDiv {
    background-color: white;
    border-radius: 0.6em;
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

input.QXTP-VideoIntroClose {
    cursor: pointer;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #fff;
    border: none;
    font-size: 0.9em;
    padding: 5px 20px;
    border-radius: 4px;
}

input.QXTP-VideoIntroClose:hover {
    background: #858585;
    color: #fff;
}

.QXTP-LinkVideoIntroShow {
    display: none;
}

.QXTP-BottonContainerDiv,
.Games-BottonContainer {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0.1em auto;
    padding: 0;
    width: 100%;
}

.QXTP-BottonContainerDivEnd {
    justify-content: flex-end;
}

/*Intrucciones */
.QXTP-DivInstructions {
    margin: 1em 0 0 0;
    text-align: center;
    width: 95%;
}

.QXTP-parpadea {
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-name: QXTP-parpadeo;
    -webkit-animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 5;
    animation-name: QXTP-parpadeo;
    animation-timing-function: linear;
}

/* FeedBack*/
.QXTP-DivFeedBack {
    align-items: center;
    background-color: rgba(232, 232, 232, 0.8);
    border-radius: .6em;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
}

.QXTP-DivFeedBack button {
    cursor: pointer;
}

.quext-feedback-game {
    -moz-box-shadow: 0 10px 6px -6px #999;
    -webkit-box-shadow: 0 10px 6px -6px #999999;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: .6em;
    box-shadow: 0 10px 6px -6px #999;
    display: none;
    margin-bottom: 1em;
    max-height: 80%;
    min-height: 10em;
    overflow-y: auto;
    padding: 1em;
    width: 95%;
}

.quext-extra-content {
    margin-top: 1.7em;
}

/* Enlace activo */
.QXTP-Activo {
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -webkit-filter: drop-shadow(.12em .12em .12em rgba(0, 0, 0, 0.5));
    -webkit-transition: transform 0.3s;
    cursor: pointer;
    filter: drop-shadow(.12em .12em .12em rgba(0, 0, 0, 0.5));
    transition: transform 0.3s;
}

.QXTP-LinkMaximize:hover .QXTP-Activo,
.QXTP-Activo:hover {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Puntuacion */
.Games-BottonContainer {
    margin: 0;
    padding: 0;
    width: 100%;
}

.Games-BottonContainer * {
    margin: 0;
    padding: 0;
}

.Games-GetScore input[type=button] {
    padding: 0.3em 0.5em;
    margin: 0 .5em 0 0.5em;
    width: auto;
}

.Games-GetScore {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1em
}

.Games-OverlayImage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.Games-FullScreenImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.Games-GetScore span {
    display: block;
}

.Games-GetScore form {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Iconos */
.QXTP-GameContainer .exeQuextIcons {
    background-size: 100% 100%;
    height: 1.4em;
    margin-right: 0.3em;
    width: 1.4em;
}

.QXTP-GameContainer .exeQuextIcons-Video,
.QXTP-GameContainer .exeQuextIcons-Submit {
    height: 1.7em;
    width: 1.7em;
}

.QXTP-MainContainer .exeQuextIcons-Submit {
    background: url(exequextreply.png) no-repeat;
    background-size: 100% 100%;
}


.QXTP-GameContainer .exeQuextIcons-Minimize {
    background-image: url(exequextmin.svg);
    background-size: 100% 100%;
}

.QXTP-GameContainer .exeQuextIcons-Hit {
    background-image: url(exequexthits.svg);
    background-size: 100% 100%;
}

.QXTP-GameContainer .exeQuextIcons-FullScreen {
    background-image: url(exequextfull.svg);
    background-size: 100% 100%;
}

.QXTP-GameContainer .exeQuextIcons-Error {
    background-image: url(exequextrerrors.svg);
    background-size: 100% 100%;
}

.QXTP-GameContainer .exeQuextIcons-Score {
    background-image: url(exequextscore.svg);
    background-size: 100% 100%;
}

.QXTP-GameContainer .exeQuextIcons-Time {
    background-image: url(exequexttime.svg);
    background-size: 100% 100%;
}

.QXTP-GameContainer .exeQuextIcons-Number {
    background-image: url(exequextnumber.svg);
    background-size: 100% 100%;
}

.QXTP-GameContainer .exeQuextIcons-Life {
    background-image: url(exequextlive.png);
    background-size: 100% 100%;
}

.QXTP-GameContainer .exeQuextIcons-Video {
    background-image: url(exequextvideo.png);
    background-size: 100% 100%;
}

/* Full Screen */
div:fullscreen .exeQuextIcons-FullScreen {
    background-image: url(exequextfull.svg);
    background-size: 100% 100%;
}

div:-webkit-full-screen .exeQuextIcons-FullScreen {
    background: url(exequextfull.svg);
    background-size: 100% 100%;
}

div:-moz-full-screen .exeQuextIcons-FullScreen {
    background: url(exequextfull.svg);
    background-size: 100% 100%;
}

div:-webkit-full-screen .QXTP-Options {
    min-height: 3.2em;
}

div:-moz-full-screen .QXTP-Options {
    min-height: 3.2em;
    ;
}

div:fullscreen .QXTP-Options {
    min-height: 3.2em;
}

div:fullscreen .QXTP-Question {
    min-height: 3.2em;
}

div:-webkit-full-screen .QXTP-Question {
    min-height: 3.2em;
}

div:-moz-full-screen .QXTP-Question {
    min-height: 3.2em;
}

div.QXTP-GameContainer.is-fullscreen .QXTP-GameOver {
    margin-top: 8em;
}


div:fullscreen .QXTP-LinkMinimize {
    display: none;
}

.QXTP-GameContainer:-webkit-full-screen {
    background-color: white;
    height: 100vh;
    width: 100%;
    padding-top: 3px;
    overflow-y: auto;
}

.QXTP-GameContainer:-moz-full-screen {
    background-color: white;
    height: 100vh;
    width: 100%;
    padding-top: 3px;
    overflow-y: auto;
}

.QXTP-GameContainer:-ms-full-screen {
    background-color: white;
    height: 100vh;
    width: 100%;
    padding-top: 3px;
    overflow-y: auto;
}

.QXTP-GameContainer:-o-full-screen {
    background-color: white;
    height: 100vh;
    width: 100%;
    padding-top: 3px;
    overflow-y: auto;
}

.QXTP-GameContainer:fullscreen {
    background-color: white;
    height: 100vh;
    width: 100%;
    padding-top: 3px;
    overflow-y: auto;
}

.Games-ReportIconDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.1em;
    width: 100%;
    margin-bottom: 6px;
}

.Games-ReportIconDiv img {
    width: 16px;
    height: 16px;
    display: block;
}

.Games-ReportIconDiv span {
    font-size: 0.9em;
}

@-moz-keyframes QXTP-parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes QXTP-parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes QXTP-parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@media screen and (max-width:550px) {
    .QXTP-MainContainer {
        font-size: 0.9rem;
    }

    .QXTP-Question {
        margin-bottom: 0.5em;
    }

    .QXTP-LinkFullScreen {
        display: none;
    }

    .QXTP-instructions {
        margin: 0.1em auto;
    }

    .QXTP-DivInstructions {
        display: none;
    }

    .QXTP-PShowClue {
        font-size: 0.9em;
    }

    .QXTP-StartGame a {
        font-size: 0.9em;
    }

    .QXTP-AuthorLicence p {
        font-size: 0.9em;
    }
}

@media screen and (max-width:470px) {
    .QXTP-MainContainer {
        font-size: 0.9rem;
    }

    .QXTP-PShowClue {
        font-size: 0.8em;
    }

    .QXTP-AuthorLicence p {
        font-size: 0.8em;
    }

    .QXTP-Question {
        margin-bottom: 0.3em;
    }

    .QXTP-Multimedia {
        width: 95%;
    }

    .QXTP-LifesGame {
        display: none;
    }

    .QXTP-NumberLifesGame {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .QXTP-LinkMinimize {
        display: none;
    }

    .QXTP-DataCodeAccessE label {
        display: none;
    }

    .QXTP-GameContainer .exeQuextIcons-Submit,
    .QXTP-GameContainer .exeQuextIcons-Video {
        height: 2em;
        width: 2em;
    }

 
}

@media screen and (max-width:340px) {
    .QXTP-MainContainer {
        font-size: 0.8rem;
    }

    .QXTP-GameScoreBoard p {
        font-weight: normal;
        margin: 0.1em;
        padding: 0;
    }

    .QXTP-GameContainer .exeQuextIcons {
        margin: 0;
        padding: 0;
    }

    .QXTP-GameScoreBoard p {
        padding: 0;
    }

    .QXTP-GameScores {
        width: 50%;
    }

    .QXTP-TimeNumber {
        width: 45%;
    }

    .QXTP-instructions p {
        margin: 0 auto;
    }
}

@media screen and (max-width:295px) {
    .QXTP-MainContainer {
        font-size: 0.7rem;
    }

    .QXTP-GameScoreBoard {
        justify-content: flex-start;
    }

    .QXTP-GameScores {
        width: 50%;
    }

    .QXTP-TimeNumber {
        width: 42%;
    }
}

@media screen and (max-width:265px) {
    .QXTP-MainContainer {
        font-size: 0.6rem;
    }

    .QXTP-GameScoreBoard p {
        font-weight: normal;
        margin: 2px;
    }

    .QXTP-GameContainer .exeQuextIcons {
        height: 1.1em;
        width: 1.1em;
    }

    .QXTP-GameContainer .exeQuextIcons-Submit,
    .QXTP-GameContainer .exeQuextIcons-Video {
        height: 2em;
        width: 2em;
    }

    .QXTP-GameScores {
        width: auto;
    }

    .QXTP-TimeNumber {
        justify-content: flex-start;
        width: auto;
    }

    .QXTP-Letter {
        font-size: 1.2em;
        height: 1.7em;
        margin: 0;
        width: 1.2em;
    }
}

@media screen and (max-width:235px) {

    .QXTP-GameScoreBoard .exeQuextIcons-Life,
    .QXTP-GameScoreBoard .exeQuextIcons-Time {
        display: none;
    }
}

@media screen and (min-width: 1400px) {
    div:fullscreen .QXTP-Multimedia {
        background-color: #fff;
        margin: 2em auto;
        top: 1.4em;
    }
}

@media screen and (min-width: 700px) and (max-height: 800px) {
    div:fullscreen .QXTP-Multimedia {
        background-color: #fff;
        margin-bottom: 0.6em;
    }
}

/* To review */
.quext-instructions {
    overflow: auto;
}